---
import Layout from "../../layouts/BlogPost.astro";
const pageTitle = "Demo Index";

const list = [
  {
    index: 1,
    title: "动态进度条",
    href: "/demo/dynamic_progress",
    time: "2024-07-25",
  },
  {
    index: 2,
    title: "数字倒影时钟",
    href: "/demo/digital_reflection_clock",
    time: "2024-07-26",
  },
  {
    index: 3,
    title: "五子棋（canvas实现）",
    href: "/demo/gobang",
    time: "2024-07-30",
  },
  {
    index: 4,
    title: "图片标注工具",
    href: "/demo/image_captions",
    time: "2024-07-30",
  },
];
---

<Layout
  title={pageTitle}
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("2024-07-25")}
>
  {
    list.map((item) => (
      <div class="flex items-center">
        <span>{item.index}.</span>
        <a href={item.href}>{item.title}</a>
        <span class="ml-auto">{item.time}</span>
      </div>
    ))
  }
</Layout>
