---
import Layout from "../../layouts/BlogPost.astro";
const pageTitle = "Demo Index";

const list = [
  {
    index: 1,
    title: "动态进度条",
    href: "/demo/dynamic_progress",
    time: "2024-07-25",
  },
  {
    index: 2,
    title: "数字倒影时钟",
    href: "/demo/digital_reflection_clock",
    time: "2024-07-26",
  },
  {
    index: 3,
    title: "五子棋（canvas实现）",
    href: "/demo/gobang",
    time: "2024-07-30",
  },
  {
    index: 4,
    title: "图片标注工具",
    href: "/demo/image_captions",
    time: "2024-08-08",
  },
  {
    index: 5,
    title: "zustand模块化状态管理工具",
    href: "/demo/zustand",
    time: "2024-08-19",
  },
  {
    index: 6,
    title: "svg加载动画",
    href: "/demo/svg_test",
    time: "2024-09-02",
  },
  {
    index: 7,
    title: "不受阻塞的倒计时组件",
    href: "/demo/count_time",
    time: "2024-09-10",
  },
  {
    index: 8,
    title: "动态线型汽车加载动画",
    href: "/demo/loading_car",
    time: "2024-09-13",
  },
  {
    index: 9,
    title: "飞机窗动画开关",
    href: "/demo/custom_switch",
    time: "2024-09-14",
  },
  {
    index: 10,
    title: "用js和css实现的文字编辑效果",
    href: "/demo/printing_text",
    time: "2024-09-15",
  },
  {
    index: 11,
    title: "纵向时间轴",
    href: "/demo/simple_timeline",
    time: "2024-10-17",
  },
  {
    index: 12,
    title: "css实现网格背景",
    href: "/demo/background_grid",
    time: "2024-11-13",
  },
  {
    index: 13,
    title: "虚拟滚动",
    href: "/demo/virtual_list",
    time: "2024-12-02",
  },
  {
    index: 14,
    title: "浏览器画中画模式应用",
    href: "/demo/pip",
    time: "2024-12-11",
  },
  {
    index: 15,
    title: "用css计算窗口大小",
    href: "/demo/computed_window_size",
    time: "2024-12-13",
  },
];
---

<Layout
  title={pageTitle}
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("2024-07-25")}
>
  {
    list.map((item) => (
      <div class="flex items-center">
        <span>{item.index}.</span>
        <a href={item.href}>{item.title}</a>
        <span class="ml-auto">{item.time}</span>
      </div>
    ))
  }
</Layout>
